tarefa01/definicoes.dtd

<!ELEMENT cardapio (pratos+)>
<!ELEMENT pratos (nome, descricao,ingredientes,preco,calorias,tempoPreparo)>
<!ATTLIST pratos id ID #REQUIRED>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>

<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>

<!ELEMENT preco (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempoPreparo (#PCDATA)>

<!ATTLIST preco moeda (BRL|USD) "BRL">
<!ENTITY reais SYSTEM "R$">
